@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
body{
  font-family:'Rokkitt', serif;
  background-color:#5d6f51;
  padding: 7px;
  font-size: 18px;
}
header{
  height:215px;
  width:984px;
  background-image:url(images/flower.jpg);
  margin: 0 auto;
  padding-top:150px;
}
nav{
  font-size: 18px;
}
#heading{
  text-align:center;
  opacity:0.8;
  background-color:#d5d1cd;
  padding: 10px 0;
  font-family:'Lato', sans-serif;
  font-weight:300;
}
h1{
  font-weight:300;
  font-size:2.15em;
  color:#2f322a;
}
h2{
  font-family:'Lato', sans-serif;
  font-weight:300;
  font-size:1.2em;
}
#wrapper{
  width:974px;
  background-color:#d5d1cd;
  margin: 0 auto;
  height:100%;
  padding: 5px;
  overflow:auto;
}
.boxElement{
  box-sizing: border-box;
  width: 33.3%;
  float: left;
  overflow:auto;
  padding: 7px;
  background-color:#d5d1cd;
  height:500px;
}
a:link{
  color:#c896ad;
  text-decoration: none;
}
a:hover{
  color:#698eca;
  text-decoration: none;
}
a:visited{
  color:#e37b9b;
  text-decoration: none;
}
#thisthing{
  text-align: center;
  font-size: 1.25em;
}
#Resume{
  padding-right: 5px;
}
.Butts{
  padding-bottom: 2%;
  border-bottom: 2px solid #5d6f51;
}
