@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
body{
  font-family:'Rokkitt', serif;
  background-color:#5d6f51;
}
header{
  height:268px;
  width:984px;
  background-image:url(flower.jpg);
  margin: 0 auto;
  padding-top:150px;
}
#heading{
  text-align:center;
  opacity:0.8;
  background-color:#d5d1cd;
  padding: 15px 0;
  font-family:'Lato', sans-serif;
  font-weight:300;
}
h1{
  font-weight:300;
  font-size:2em;
  color:#2f322a;
}
h2{
  font-family:'Lato', sans-serif;
  font-weight:300;
}
#body{
  width:984px;
  background-color:#d5d1cd;
  margin: 0 auto;
  padding: 1px;
}
.boxElement{
  box-sizing: border-box;
  width: 32%;
  float: left;
  padding-right: 1.5em;
}
a:link{
  color:#c896ad;
  text-decoration: none;
}
a:hover{
  color:#698eca;
  text-decoration: none;
}
a:visted{
  color:#c896ad;
  text-decoration: none;
}
